.navbar {
  width: 100vw;
  background-color: #ccf2d1;
  border-top: 4px solid #4CAF50;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  gap: 2rem;
}

.logo {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}